body{
	background: #f8919b;
	background: -moz-linear-gradient(top,  #f8919b 0%, #aa4862 100%);
	background: -webkit-linear-gradient(top,  #f8919b 0%,#aa4862 100%);
	background: linear-gradient(to bottom,  #f8919b 0%,#aa4862 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8919b', endColorstr='#aa4862',GradientType=0 );

}
#container{
	border:0px solid;
	min-height:400px;
	width:800px;
	border-radius:5px;
	margin:auto;
	margin-top:40px;
	box-shadow:0px 0px 20px 10px rgba(0,0,0,0.2);
}
#box{
	border:0px solid;
	height:590px;
	width:400px;
	background: #384b63;
	background: -moz-linear-gradient(top,  #384b63 0%, #212d3e 100%);
	background: -webkit-linear-gradient(top,  #384b63 0%,#212d3e 100%);
	background: linear-gradient(to bottom,  #384b63 0%,#212d3e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384b63', endColorstr='#212d3e',GradientType=0 );
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	display:inline-block;
	position:relative;
}

#box1{
	border:0px solid;
	margin:auto;
	height:590px;
	width:400px;
	background: #70e3cc;
	background: -moz-linear-gradient(top,  #70e3cc 0%, #50c2b7 100%);
	background: -webkit-linear-gradient(top,  #70e3cc 0%,#50c2b7 100%);
	background: linear-gradient(to bottom,  #70e3cc 0%,#50c2b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70e3cc', endColorstr='#50c2b7',GradientType=0 );
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	float:left;
}
.cupImg{
	height:33px;
	margin:15px;
}
.txt{
	text-align:center;
	color:white;
	font-family:calibri;
	font-size:20px;
	font-weight:lighter;
	display:block;
	margin-top:70px;
	margin-left:20px;
	margin-right:20px;
}
.rocketImg{
	height:260px;
	margin-top:40px;
	margin-left:25px;
}
.loading{
	height:23px;
	margin:auto;
	display:block;
	margin-top:70px;
}
.positionUl{
	position:absolute;
	right:20px;

}
.signup{
	border:0px solid;
	float:left;
	list-style:none;
	margin:0;
	width:70px;
	height:28px;
	line-height:28px;
	text-align:center;
	font-family:calibri;
	font-size:14px;
	cursor:pointer;
}
.liLeft{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	background: #4d5d72;
	background: -moz-linear-gradient(top,  #4d5d72 0%, #495a6f 100%);
	background: -webkit-linear-gradient(top,  #4d5d72 0%,#495a6f 100%);
	background: linear-gradient(to bottom,  #4d5d72 0%,#495a6f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5d72', endColorstr='#495a6f',GradientType=0 );
	color:#A5ACB7;
	box-shadow:2px 2px 10px 2px rgba(0,0,0,0.1);

}
.liRight{
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	background: #6ee1cb;
	background: -moz-linear-gradient(top,  #6ee1cb 0%, #4cb8b0 100%);
	background: -webkit-linear-gradient(top,  #6ee1cb 0%,#4cb8b0 100%);
	background: linear-gradient(to bottom,  #6ee1cb 0%,#4cb8b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee1cb', endColorstr='#4cb8b0',GradientType=0 );
	color:white;
	box-shadow:2px 2px 10px 4px rgba(0,0,0,0.1);
	font-weight:lighter;
}
.signIn{
	font-family:calibri;
	position:absolute;
	top:80px;
	left:60px;
	cursor:pointer;
	font-size:20px;
}
.signuptxt{
	color:white;
	border-bottom:1px solid #0ABE9D;
	font-weight:lighter;
	cursor:pointer;
}
.or{
	color:#828C9A;
	margin-left:10px;
	margin-right:6px;
	font-size:16px;
	cursor:default;
}
.signintxt{
	color:#828C9A;
	font-weight:lighter;
}
label{
	display:block;
	color:white;
	font-family:calibri;
	font-size:14px;
}
.nameLabel{
	position:absolute;
	top:170px;
	left:60px;
}
.passwordLabel{
	position:absolute;
	top:250px;
	left:60px;
}
.emailLabel{
	position:absolute;
	top:330px;
	left:60px;
}
.inputField{
	border:0;
	border-bottom:1px solid #4E5C6F;
	width:280px;
	height:30px;
	background:transparent;
	color:#969EA9;
}
.inputField:focus{
	outline:0;
}
.textField{
	position:absolute;
	top:192px;
	left:60px;
}

.passwordField{
	position:absolute;
	top:272px;
	left:60px;
}

.emailField{
	position:absolute;
	top:352px;
	left:60px;
}

::-webkit-input-placeholder{
	color:#6E7989;
	font-family:arial;
}
.agree{
	position:absolute;
	top:410px;
	left:60px;
	color:#6E7989;
	font-size:13px;
}
.agree a{
	color:white;
	font-family:calibri;
	text-decoration:none;
	border-bottom:1px solid #0ABE9D;
}
input[type="checkbox"]{
	display:none;
}
label input[type="checkbox"]+span{
	display:inline-block;
	height:13px;
	width:13px;
	background:#14D9B2;
    cursor:pointer;
	border-radius:2px;
	margin-right:5px;
}
label input[type="checkbox"]:checked+span{
	background:url('./icons/tick.png') #14D9B2;
	background-position:center center;
	background-size:90% 90%;
}
.submit{
	position:absolute;
	top:450px;
	left:60px;
	background: #6ee1cb;
	background: -moz-linear-gradient(top,  #6ee1cb 0%, #4cb8b0 100%);
	background: -webkit-linear-gradient(top,  #6ee1cb 0%,#4cb8b0 100%);
	background: linear-gradient(to bottom,  #6ee1cb 0%,#4cb8b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee1cb', endColorstr='#4cb8b0',GradientType=0 );
	border:0;
	height:30px;
	width:110px;
	border-radius:20px;
	font-family:calibri;
	font-size:14px;
	color:white;
	font-weight:lighter;
	cursor:pointer;
	box-shadow:2px 2px 5px 4px rgba(0,0,0,0.1);
	
}
.submit:focus{
	outline:0;
}
.submit:hover{
	background:#4EAC9E;
}
.member{
	position:absolute;
	top:460;
	right:70px;
	font-family:calibri;
	border-bottom:1px solid #206D6C;
}
.member a{
	text-decoration:none;
	color:#6E7989;

}